@import './variables/all.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

a {  
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: .3s;
}

.row.mb2 {
  position: relative;  
}

.btn:focus {
  box-shadow: none;
}

.btn:active {
  border: 1px solid #666 !important;
}

.btn-next {
  background-color: $green-color;
  cursor: pointer;  
}

.btn-next:hover {
  background-color: $light-green-color;
}
