@import './variables/all.scss';

.gameOverContainer {
  width: 100%;
  max-width: 1140px;
  padding: 48px 32px;
  margin: 40px auto;
  background-color: $block-color;
  border-radius: 5px;
  text-align: center;
}

.leadText {
  font-size: 48px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 20px;
}

.hr {
  margin-bottom: 40px;
}

.hrDark {
  border-color: transparent;
}

.scoreList {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 17px 20px 17px 45px;
  background-color: $block-color;
  border: 1px solid $border-color;
  list-style: none;
  &:hover {
    background-color: $hover-color;
  }
}

.gameOverBtn {
  padding: 12px 80px;
  font-size: $font-size-l;
  font-family: $font-roboto;
  color: $white;
  background-color: $medium-green-color;
  border-color: $dark-green-color;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    color: $white;
    background-color: $light-green-color;
    border-color: $medium-green-color;
  }
}

@media (max-width: 470px) {  
  .leadText {
    font-size: 32px;    
  }
  .gameOverBtn {
    display: block;
    padding: 12px;
  }
}